[submodule "contracts/daccustodian"]
	path = contracts/daccustodian
	url = https://github.com/eosdac/daccustodian.git
[submodule "contracts/eosdactoken"]
	path = contracts/eosdactoken
	url = https://github.com/eosdac/eosdactoken.git
[submodule "contracts/dacmultisigs"]
	path = contracts/dacmultisigs
	url = https://github.com/eosdac/dacmultisigs.git
[submodule "contracts/dacproposals"]
	path = contracts/dacproposals
	url = https://github.com/eosdac/dacproposals.git
[submodule "eos"]
	path = eos
	url = https://github.com/EOS-Mainnet/eos.git
[submodule "eosio.cdt"]
	path = eosio.cdt
	url = https://github.com/EOSIO/eosio.cdt.git
[submodule "eosdac-api"]
	path = eosdac-api
	url = https://github.com/eosdac/eosdac-api.git
[submodule "eosdac-client"]
	path = eosdac-client
	url = https://github.com/eosdac/eosdac-client.git
[submodule "eosio-statereceiver"]
	path = eosio-statereceiver
	url = https://github.com/eosdac/eosio-statereceiver.git
[submodule "eosdac-contracts"]
	path = eosdac-contracts
	url = https://github.com/eosdac/eosdac-contracts.git
